<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.rg1803.dao.VerifyMessageMapper">
	<select id="selName" resultType="User" parameterType="User">
		select * from t_user where realname=#{realname}
	</select>
	<select id="selIdcard" resultType="User" parameterType="User">
		select * from t_user where idcard=#{idcard}
	</select>
	<select id="selPhone" resultType="User" parameterType="User">
		select * from t_user where phone=#{phone}
	</select>
	<select id="selUsername" resultType="User" parameterType="User">
		select * from t_user where username=#{username}
	</select>
	
	<insert id="addUser" parameterType="User" >
		insert into t_user(username,password,state,realname,idcard,phone) values(#{username},#{password},0,#{realname},#{idcard},#{phone})
	</insert>
	<insert id="addStaff" parameterType="User" keyProperty="id">
		insert into t_user(username,password,state,realname,idcard,phone,isemp) values(#{username},#{password},0,#{realname},#{idcard},#{phone},1)
	</insert>
	<insert id="addUR" parameterType="int">
		insert into t_user_role(uid,rid) values(#{0},#{1})
	</insert>
	<select id="selRole" parameterType="User" resultType="URole">
		select * from t_user t left join t_user_role t1 on t.id=t1.uid where t.isemp=1 and t.id=#{id}
	</select>
	
	<insert id="addUT" parameterType="int">
		insert into t_user_rate(uid,loanRate,integral) values(#{v},0.0011,80)
	</insert>
</mapper>